{
    email {$TLS_EMAIL}
}

{$PUBLIC_HOSTNAME} {
    encode zstd gzip
    request_body {
        max_size 6MB
    }
    header Strict-Transport-Security "max-age=31536000"
    reverse_proxy web:8000
}
